html,body{
    background-color: hsl(215, 69%, 87%);

}


.container{
    display: flex;
    justify-content: center;   
}

.qr-image{
    width: 90%;
    height: 90%;
    border-radius: 20px;

}


h1{
    text-align: center;
    font-family: 'Outfit', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial ;
    font-size: 2rem;
}

p{
    text-align: center;
    font-family: 'Outfit', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial ;
    font-size: 1.3rem;
}