html,body{
    background-color: hsl(215, 69%, 87%);
}


.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background-color: hsl(216, 22%, 95%); 
    border-radius: 20px;
}

.qr-image{
    width: 90%;
    height: 90%;
    padding: 20px;
    border-radius: 40px;
    

}


.container h2{
    margin-top:-5px;
    text-align: center;
    font-family: 'Outfit', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial ;
    font-size: 1.5rem;
    color:hsl(218, 44%, 22%);
}

.container p{
    margin-top:-10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: 'Outfit', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial ;
    font-size: 1.2rem;
    color:hsl(220, 15%, 55%);
}